[submodule "zprezto"]
	path = zprezto
	url = git://github.com/sorin-ionescu/prezto.git
[submodule "dotsync"]
	path = dotsync
	url = git@github.com:dotphiles/dotsync.git
[submodule "cmd/t"]
	path = cmd/t
	url = git://github.com/sjl/t.git
